.about__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.about__list {
  .list-reset();
}

.about__item {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .about {
    .container-tablet();
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 5;
    }
  }
}

@media (min-width: @desktop-width) {
  .about {
    .container-desktop();

    .about__title {
      margin-left: 175px;
    }

    .about__list {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
