.about {
  margin-bottom: 56px;

  border-top: 1px solid transparent;
}

.about__title {
  margin: 0;
  margin-top: 22px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.about__list {
  .list-reset();
}

.about__item {
  margin-bottom: 30px;
  padding-top: 55px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @black;

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(6) {
    padding-top: 52px;
  }
}

.about__item--materials {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 9px 0;
}

.about__item--style {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__item--likes {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 7px 3px;
}

.about__item--manual {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 2px 0;
}

.about__item--support {
  position: relative;
}

.about__item--support::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -6px;

  width: 55px;
  height: 23px;

  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about__item--packaging {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 3px 0;
}

@media (min-width: @tablet-width) {
  .about {
    .container-tablet();
    margin-bottom: 27px;
  }

  .about__title {
    margin-top: 45px;
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    margin-bottom: 57px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(5) {
      order: 3;

      padding-top: 52px;
    }

    &:nth-child(6) {
      order: 5;

      padding-top: 52px;
    }
  }

  .about__item--support::before {
    top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    .container-desktop();
    margin-bottom: 35px;

    .about__title {
      margin-top: 53px;
      margin-left: 170px;
      margin-bottom: 47px;

      font-size: 53px;
      line-height: 57px;
    }

    .about__list {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
