.about__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.about__list {
  .list-reset();
}

.about__item {
  width: 200px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @black;
}

.about__item--materials {
  width: 190px;
}

.about__item--manual,
.about__item--support {
  width: 250px;
}

@media (min-width: @tablet-width) {
  .about {
    .container-tablet();
  }

  .about__list {
    display: flex;
  }

  .about__wrapper-left,
  .about__wrapper-right {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .about {
    .container-desktop();
  }

  .about__title,
  .about__list {
    width: 700px;
    margin: 0 auto;
  }
}
