.card {
  display: flex;
  flex-direction: column;
}

.card__link-img {
  width: 260px;
  height: 195px;
}

.card__wrapper-text {
  margin-bottom: 30px;
  padding-top: 26px;
  padding-bottom: 28px;

  border: 1px solid #ececec;
}

.card__link-title {
  display: block;
  margin-left: 28px;
  margin-bottom: 5px;

  outline: none;
}

.card__title {
  width: 200px;
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.card__characteristics {
  margin: 0;
  margin-left: 28px;
  margin-bottom: 18px;

  font-size: 13px;
  line-height: 30px;
}

.card__wrapper-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 204px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;

  border-top: 1px solid #ececec;
}

.card__price {
  margin: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @black;
}

.card__cart {
  width: 20px;
  height: 19px;
}

.card__cart-icon {
  fill: rgba(0, 0, 0, 0.2);

  transition: all 0.3s ease;
}

.card__cart:hover .card__cart-icon,
.card__cart:focus .card__cart-icon {
  fill: rgba(99, 209, 187, 1);
}

.card__cart:active .card__cart-icon {
  fill: rgba(99, 209, 187, 0.3);
}

@media (min-width: @tablet-width) {
  .card {
    flex-direction: row;

    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .card__link-img {
    width: 334px;
    height: 334px;
  }

  .card__wrapper-text {
    display: flex;
    flex-direction: column;
    width: 334px;
    margin-bottom: 0;
    padding-bottom: 26px;
  }

  .card__title {
    width: 235px;

    font-size: 20px;

    transition: all 0.3s ease;
  }

  .card__link-title {
    margin-left: 25px;
  }

  .card__link-title:hover .card__title,
  .card__link-title:focus .card__title {
    opacity: 0.6;
  }

  .card__link-title:active .card__title {
    opacity: 0.3;
  }

  .card__characteristics {
    width: 270px;
    margin-left: 25px;
    margin-bottom: auto;

    font-size: 15px;
  }

  .card__wrapper-price {
    width: 268px;
  }

  .card__price {
    font-size: 17px;
  }

  .card__cart {
    outline: none;
  }

  // .card__cart-icon {
  //   transition: all 0.3s ease;
  // }

  // .card__cart:hover .card__cart-icon,
  // .card__cart:focus .card__cart-icon {
  //   fill: rgba(99, 209, 187, 1);
  // }

  // .card__cart:active .card__cart-icon {
  //   fill: rgba(99, 209, 187, 0.3);
  // }
}

@media (min-width: @desktop-width) {
  .card {
    flex-direction: column;
  }

  .card__link-img {
    width: 316px;
    height: 462px;
  }

  .card__wrapper-text {
    flex-grow: 1;
    width: auto;
    min-height: 197px;
    padding-top: 25px;
  }

  .card__wrapper-price {
    width: 260px;
    padding-top: 25px;
    padding-right: 5px;
  }
}
