.cart {
  padding-top: 27px;
  padding-bottom: 26px;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.cart__link {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  list-style: none;
  color: @black;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.cart__link-icon {
  margin-right: 22px;
}

@media (min-width: @tablet-width) {
  .cart {
    width: 75%;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 35px;

    text-align: right;

    box-shadow: none;
  }

  .cart__link {
    justify-content: space-between;
    width: 234px;
    margin: 0;
    padding: 0;
    // padding-right: 3px;
    margin-left: auto;

    // letter-spacing: 1px;
  }

  .cart__link-icon {
    margin: 0;
  }
}
