.copyright {
  display: flex;
  justify-content: flex-end;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 183px;

  transition: all 0.3s ease;

  outline: none;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link-icon {
  fill: @blue;

  transition: all 0.3s ease;
}

.copyright__link:hover .copyright__link-icon,
.copyright__link:focus .copyright__link-icon {
  fill: #46c1ae;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: @black;
}
