.custom-made {
  margin-bottom: 56px;
}

.custom-made__subtitle {
  margin: 0;
  margin-bottom: 23px;

  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .custom-made {
    .container-tablet();
    margin-bottom: 50px;
  }

  .custom-made__subtitle {
    margin-bottom: 8px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .custom-made {
    .container-desktop();
    margin-bottom: 50px;
  }

  .custom-made__subtitle {
    width: 675px;
    margin-left: 175px;
  }
}
