.list-categories {
  .list-reset();
}

.list-categories__item {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.list-categories__link {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding: 25px 35px 16px 28px;

  color: @bg;
}

.list-categories__item:last-child .list-categories__link {
  padding-right: 28px;
  padding-bottom: 19px;
}

.list-categories__link--interior-bg {
  background-color: @blue;
}

.list-categories__link--toys-bg {
  background-color: @darkblue;
}

.list-categories__icon {

  transition: all 0.3s ease;

  fill: rgba(20, 144, 128, 0.5);
}

.list-categories__link:hover .list-categories__icon,
.list-categories__link:focus .list-categories__icon {
  fill: rgba(20, 144, 128, 0.7);
}

.list-categories__link:active .list-categories__icon {
  fill: rgba(20, 144, 128, 0.3);
}

.list-categories__text {
  display: block;
  width: 170px;
}

@media (min-width: @tablet-width) {
  .list-categories {
    display: flex;
  }

  .list-categories__item {
    width: 50%;
  }

  .list-categories__item:last-child .list-categories__link {
    padding-right: 35px;
  }

  .list-categories__link {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;

    transition: all 0.3s ease;

    &:hover,
    &:focus {
      margin-top: -5px;
      margin-bottom: 5px;

      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .list-categories__link--interior-bg {
    &:hover,
    &:focus,
    &:active {
      background-color: #59d5bc;
    }
  }
}
