.main-nav__promo-list,
.main-nav__service-list {
  display: none;
}

.main-nav__wrapper-bottom {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: @tablet-width) {
  .main-nav__service-list {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__promo-list {
    display: block;
  }

  .main-nav__wrapper-bottom {
    justify-content: space-between;
  }
}
