.modal-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);

  display: none;
  padding-top: 30px;
  padding-bottom: 47px;

  background-color: @bg;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal-cart--show {
  display: block;
}

.modal-cart__title {
  width: 60%;
  margin: 0;
  margin-left: 23%;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  text-transform: uppercase;
}

.modal-cart__fieldset {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  border: 0;
}

.modal-cart__legend {
  margin: 0 auto;
  margin-bottom: 25px;

  line-height: 30px;
}

.modal-cart__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
}

.modal-cart__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  border: 2px solid rgba(68, 68, 68, 0.1);

  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
}

.modal-cart__input:checked + .modal-cart__label {
  border: 2px solid rgb(98, 209, 186);
}

@media (min-width: @tablet-width) {
  .modal-cart {
    width: 566px;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 47px;
  }

  .modal-cart__title {
    width: 63%;
    margin: 0 auto;
    margin-bottom: 13px;

    font-size: 30px;
    line-height: 57px;
  }

  .modal-cart__form {
    padding-left: 107px;
    padding-right: 107px;
  }

  .modal-cart__legend {
    margin-bottom: 22px;

    font-size: 17px;
    line-height: 30px;
  }

  .modal-cart__label {
    width: 112px;
  }

  .modal-cart__button {
    width: 350px;
  }
}
