.modal-cart__title {
  width: 150px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  text-transform: uppercase;
}

.modal-cart__fieldset {
  border: 0;
}

.modal-cart__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-cart__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.button--cart {
  color: @bg;

  background-color: @blue;
  border: 0;

  cursor: pointer;
}
