.production-video__title {
  padding-left: 90px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.production-video__text {
  width: 185px;
  margin-left: 35px;

  font-size: 13px;
  line-height: 24px;
}
