.promo-baskets {
  position: relative;

  margin-bottom: 45px;

  border: 1px solid transparent;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    left: 0;
    bottom: -43px;

    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-position: 8px 0;
    background-size: 320px 7px;
    background-repeat: repeat-x;
  }
}

.promo-baskets__title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  color: @black;
}

.promo-baskets__subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @blue;
  text-transform: uppercase;
}

.promo-baskets__wrapper-title {
  margin-bottom: 23px;

  borde: 1px solid transparent;
}

.promo-baskets__text {
  margin: 0;
  margin-bottom: 16px;
}

.promo-baskets__specifications {
  width: 260px;
  margin-bottom: 30px;

  border-spacing: 0;
}

.promo-baskets__property {
  padding-top: 8px;
  padding-bottom: 7px;

  font: inherit;
  text-align: left;

  border-bottom: 1px solid #ececec;
}

.promo-baskets__value {
  padding-left: 19px;
  padding-top: 8px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ececec;
}

.promo-baskets__wrapper-image {
  margin-bottom: 25px;
}

.promo-baskets__image {
  display: block;
}

.promo-baskets__price {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promo-baskets {
    position: relative;

    margin-bottom: 0;

    &::after {
      bottom: 1px;

      height: 17px;

      background-size: 768px 17px;
      background-position: 18px 0;
    }
  }

  .promo-baskets__wrapper {
    .container-tablet();
    margin-bottom: 70px;
  }

  .promo-baskets__wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  .promo-baskets__title {
    // margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  .promo-baskets__subtitle {
    width: 100px;
    padding-right: 27px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .promo-baskets__text {
    width: 285px;
    margin-bottom: 34px;

    font-size: 17px;
    line-height: 30px;
  }

  .promo-baskets__wrapper-image {
    position: absolute;
    top: 107px;
    right: 50px;

    width: 333px;
    height: 404px;
  }

  .promo-baskets__specifications {
    margin-bottom: 57px;
  }

  .promo-baskets__price {
    width: 292px;
    margin-bottom: 35px;

    font-size: 20px;
    line-height: 24px;
  }

  .promo-baskets__order {
    width: 292px;
  }
}

@media (min-width: @desktop-width) {
  .promo-baskets {
    width: 1050px;
    margin: 0 auto;

    margin-bottom: 30px;

    &::after {
      bottom: -25px;

      height: 23px;

      background-size: 1050px 23px;
      background-position: 25px 0;
    }
  }

  .promo-baskets__wrapper {
    width: auto;
    padding: 0;
  }

  .promo-baskets__wrapper-title {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 55px;
  }

  .promo-baskets__subtitle {
    margin-left: 46px;
  }

  .promo-baskets__title {
    margin-left: 23px;

    font-size: 53px;
    line-height: 57px;
  }

  .promo-baskets__text {
    margin-left: 175px;
    margin-bottom: 47px;
  }

  .promo-baskets__specifications {
    margin-left: 173px;
    margin-bottom: 107px;
  }

  .promo-baskets__property {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .promo-baskets__value {
    padding-top: 6px;
    padding-bottom: 10px;
  }

  .promo-baskets__price {
    margin-left: 175px;
  }

  .promo-baskets__order {
    margin-left: 175px;
  }

  .promo-baskets__wrapper-image {
    top: 0;
    right: 0;
    z-index: -1;

    width: 525px;
    height: 636px;
  }
}
