.promo-baskets {
  background-color: @bg;
}

.promo-baskets__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.promo-baskets__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @blue;
  text-transform: uppercase;
}

.promo-baskets__property {
  font: inherit;
}

.promo-baskets__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
