.reviews {
  position: relative;

  margin-bottom: 46px;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    left: 0;
    bottom: -52px;

    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-position: 8px 0;
    background-size: 320px 7px;
    background-repeat: repeat-x;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  letter-spacing: 1.5px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 32px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 27px;

  line-height: 30px;
}

.reviews__text .reviews__text-whitespace {
  display: none;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.reviews__author-nick {
  font-weight: 400;
  line-height: 30px;
  color: @text;
}

.reviews__wrapper-buttons {
  display: flex;
  width: 260px;
  margin-bottom: 38px;
}

.reviews__control {
  width: 130px;
  height: 52px;

  background: none;
  border: 1px solid #ececec;

  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__control--prev {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__control--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-left: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-bottom: 38px;
    padding-bottom: 40px;

    background-color: @bg;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    &::after {
      bottom: 8px;

      height: 17px;

      background-position: 18px 0;
      background-size: 768px 17px;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .container-tablet();
    padding-top: 78px;
    padding-bottom: 70px;
  }

  .reviews__title {
    order: -2;

    margin-left: -5px;
    margin-bottom: 0;

    font-size: 43px;
    line-height: 50px;
    letter-spacing: 0;
  }

  .reviews__text {
    margin-top: 45px;
    margin-bottom: 58px;

    font-size: 17px;
  }

  .reviews__author-name {
    letter-spacing: 0.7px;
  }

  .reviews__author-nick {
    display: block;

    letter-spacing: 0;
  }

  .reviews__wrapper-buttons {
    position: absolute;
    bottom: 102px;
    right: 53px;

    width: 170px;
    margin: 0;
  }

  .reviews__control {
    border: none;
  }

  .reviews__write {
    order: -1;

    width: 175px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 90px;
    padding-bottom: 65px;

    &::after {
      bottom: -90px;

      height: 23px;

      background-size: 1050px 23px;
      background-position: 25px 0;
    }
  }

  .reviews__wrapper {
    align-items: flex-end;
    margin: 0;
    padding: 0;
    width: auto;
    padding-left: 175px;
    padding-top: 70px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 60px;
  }

  .reviews__text {
    width: 770px;
    margin-bottom: 40px;
  }

  .reviews__text .reviews__text-whitespace {
    display: inline;
  }


  .reviews__author-name {
    letter-spacing: 0.1px;
  }

  .reviews__wrapper-buttons {
    bottom: 34px;
    right: 3px;
  }
}
